<main>
<h1>{{title}}</h1>

<!-- hay que instalar primero bootstrap-->
<div class="container">
<form>

    Numero 1 : <input  type="number" [(ngModel)]="numero1" name="numero1" class="numero"> <br/> <br/>

    Numero 2 :<input type="number" [(ngModel)]="numero2" name="numero2" class="numero"> <br/> <br/>

    <input type="submit" value="Sumar" (click)="sumar()" class="submit">

    <input type="submit" value="Restar" (click)="restar()" class="submit">

</form>
</div>

<p>Resultado: {{resultado}}</p>

</main>